<form
  class="columns my-3 is-justify-content-space-between is-vcentered is-multiline is-mobile"
  novalidate
  (submit)="!loading && runSearch()">
  <div class="column is-sm mr-sm-1 is-full-mobile">
    <div class="field has-addons">
      <div class="control is-expanded has-icons-right">
        <input
          type="string"
          class="input search-input is-secondary"
          id="search"
          name="search"
          placeholder="Search by ID"
          i18n-placeholder="@@results.list.search.input"
          [(ngModel)]="search"
          [disabled]="loading" />
        <a class="icon is-small is-right" [class.is-hidden]="!search" (click)="search = ''; runSearch()">
          <fa-icon icon="times" />
        </a>
      </div>
      <div class="control">
        <button class="button is-secondary is-no-shadow" [disabled]="loading" type="submit">
          <fa-icon icon="search" />
        </button>
      </div>
    </div>
  </div>
</form>

<div class="table-actions columns is-mobile is-vcentered my-2">
  <div class="column">
    <p class="has-text-secondary is-size-7 has-text-weight-semibold mt-2 mb-0">
      <span i18n="@@results.total">Showing</span>
      @if (total > perPage) {
        <span class="pl-1">{{ offset + 1 }} - {{ offset + results.results.length }} of</span>
      }
      <span class="px-1">{{ total }} {{ isDraft() ? 'Draft' : ('Impact Assessment' | pluralize: total) }}</span>

      @if (results?.inProgress > 0) {
        <span class="has-text-warning is-pl-2">
          <span>(</span>
          <fa-icon class="is-pr-1" icon="exclamation-triangle" />
          <span>{{ results.inProgress }} {{ 'is' | pluralize: results.inProgress }} still in progress</span>
          <span>)</span>
        </span>
      }
    </p>
  </div>

  <div class="column is-narrow has-text-right">
    <div class="dropdown is-right has-text-left" [class.is-active]="showSortBy" (clickOutside)="showSortBy = false">
      <div class="dropdown-trigger" (click)="showSortBy = !showSortBy">
        <button class="button is-ghost" [class.is-active]="showSortBy" aria-haspopup="true" aria-controls="sort-menu">
          <span class="icon is-small">
            <fa-icon [icon]="faSortAmountUpAlt" aria-hidden="true" />
          </span>
          <span class="pl-2">Sort</span>
        </button>
      </div>
      <div class="dropdown-menu" id="sort-menu" role="menu">
        <div class="dropdown-content" (click)="showSortBy = false">
          <a class="dropdown-item" [class.is-active]="sortBy === 'createdOn'" (click)="sort('createdOn')">
            <fa-icon class="pr-2" [icon]="'long-arrow-alt-' + (sortOrder === 'asc' ? 'up' : 'down')" />
            <span>Uploaded On</span>
          </a>
          <a class="dropdown-item" [class.is-active]="sortBy === 'id'" (click)="sort('id')">
            <fa-icon class="pr-2" [icon]="'long-arrow-alt-' + (sortOrder === 'asc' ? 'up' : 'down')" />
            <span>ID</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="anchor" id="search-results"></div>

<div class="table-container is-responsive">
  <table class="table is-fullwidth is-hoverable">
    <thead>
      <tr>
        <th>
          <span>ID</span>
        </th>
        <th>
          <span>Status</span>
        </th>
        <th>
          <span>Uploaded On</span>
        </th>
        @if (!isDraft()) {
          <th>
            <span>Recalculated On</span>
          </th>
          <th class="is-hidden-mobile is-hidden-tablet-only">
            <span>CE version</span>
          </th>
          <th class="is-hidden-mobile is-hidden-tablet-only is-hidden-desktop-only">
            <span>Models version</span>
          </th>
        }
        <th class="is-hidden-mobile width-auto actions">
          <span>Actions</span>
        </th>
        <th class="width-auto actions"></th>
      </tr>
    </thead>
    <tbody>
      @if (loading) {
        <tr>
          <td colspan="7">
            <div class="has-text-centered py-3">
              <fa-icon icon="spinner" animation="spin" size="lg" />
            </div>
          </td>
        </tr>
      } @else if (total === 0) {
        <tr>
          <td class="has-text-center" colspan="7">
            <span i18n="@@results.list.empty">No results found matching query.</span>
          </td>
        </tr>
      }
      @for (result of results.results; track trackByResult($index, result)) {
        <tr (click)="openResult(result)" pointer>
          <td>
            <span>{{ result.id }}</span>
          </td>
          <td>
            <app-results-status [status]="result.status" />
          </td>
          <td>
            <span>{{ (result.createdOn | date: 'medium') || 'N/A' }}</span>
          </td>
          @if (!isDraft()) {
            <td>
              @if (result.error?.error || result.status === Status.error) {
                @if (result.error?.error) {
                  <ng-container *ngTemplateOutlet="resultError; context: { result }"></ng-container>
                } @else {
                  <fa-icon icon="exclamation-triangle" />
                  <span class="is-pl-2">Unknown error while recalculating, please review the server logs.</span>
                }
              }
              @if (!result.error?.error) {
                @if (result.recalculatedOn) {
                  <span>
                    {{ result.recalculatedOn | date: 'medium' }}
                  </span>
                } @else {
                  <span>In progress</span>
                }
              }
            </td>
            <td class="is-hidden-mobile is-hidden-tablet-only is-nowrap">
              <app-data-version class="is-block" [version]="result.config?.version" />
            </td>
            <td class="is-hidden-mobile is-hidden-tablet-only is-hidden-desktop-only is-nowrap">
              <app-models-version class="is-block" [version]="result.config?.modelsVersion" />
            </td>
          }
          <td class="is-hidden-mobile has-text-center">
            <div ngbDropdown #optionDd="ngbDropdown" container="body" placement="bottom-end">
              <button
                ngbDropdownToggle
                class="button is-ghost is-py-1"
                aria-haspopup="true"
                aria-controls="actions-menu"
                (click)="$event.stopPropagation()">
                <span class="icon is-small">
                  <fa-icon icon="ellipsis-v" aria-hidden="true" />
                </span>
              </button>
              <div ngbDropdownMenu id="actions-menu" role="menu">
                <div class="dropdown-content">
                  @if (result.recalculatedOn) {
                    <a ngbDropdownItem (click)="showRecalculate(result)">
                      <fa-icon icon="sync" />
                      <span class="pl-2">Re-run Calculations</span>
                    </a>
                  }
                  <a ngbDropdownItem class="has-text-danger" (click)="showDelete(result)">
                    <fa-icon icon="times-circle" />
                    <span class="pl-2">Delete</span>
                  </a>
                </div>
              </div>
            </div>
          </td>
          <td class="has-text-right">
            <fa-icon class="is-align-middle" icon="angle-right" size="lg" />
          </td>
        </tr>
      }
    </tbody>
    <tfoot>
      @if (total > perPage) {
        <tr>
          <td class="has-text-center is-px-0" colspan="7">
            <ngb-pagination
              class="is-inline-block mt-3"
              aria-label="Results pagination"
              i18n-aria-label="@@results.list.pagination.aria-label"
              [collectionSize]="total"
              [pageSize]="perPage"
              [(page)]="page"
              (pageChange)="scrollTop(); filter()"
              [maxSize]="4"
              [rotate]="true"
              [boundaryLinks]="true"
              [ellipses]="true"
              [disabled]="loading">
              <ng-template ngbPaginationPrevious>
                <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                  <fa-icon icon="angle-left" />
                </span>
              </ng-template>
              <ng-template ngbPaginationNext>
                <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                  <fa-icon icon="angle-right" />
                </span>
              </ng-template>
              <ng-template ngbPaginationFirst>
                <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                  <fa-icon icon="angles-left" />
                </span>
              </ng-template>
              <ng-template ngbPaginationLast>
                <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                  <fa-icon icon="angles-right" />
                </span>
              </ng-template>
              <ng-template ngbPaginationNumber let-page>
                <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">{{ page }}</span>
              </ng-template>
            </ngb-pagination>
          </td>
        </tr>
      }
    </tfoot>
  </table>
</div>

<ng-template #resultError let-result="result">
  <a class="has-text-danger" (click)="$event.stopPropagation(); showError(result)">
    <fa-icon icon="exclamation-triangle" />
    <span class="is-pl-2">Error while recalculating</span>
  </a>
</ng-template>
