<app-title title="Editing Draft"></app-title>

<div class="columns is-vcentered is-mb-0 is-mobile is-multiline">
  <div class="column is-full-mobile">
    <b>{{ id() + '.csv' | ellipsis: 50 }}</b>
  </div>
  <div class="column is-narrow">
    <div ngbDropdown #optionDd="ngbDropdown" container="body" placement="bottom-end">
      <button ngbDropdownToggle class="button is-small" aria-haspopup="true" aria-controls="actions-menu">
        <span>Options</span>
        <span class="icon is-small">
          <fa-icon icon="ellipsis-v" aria-hidden="true" />
        </span>
      </button>
      <div ngbDropdownMenu id="actions-menu" role="menu">
        <div class="dropdown-content">
          @if (sourceUrl()) {
            <a ngbDropdownItem [href]="sourceUrl()" download="source.csv" target="_blank">
              <fa-icon icon="download" />
              <span class="pl-2">Download Source (CSV)</span>
            </a>
            <a
              ngbDropdownItem
              (click)="$event.stopPropagation()"
              routerLink="/drafts/upload"
              [queryParams]="{ id: id() }">
              <fa-icon icon="upload" />
              <span class="pl-2">Upload new version</span>
            </a>
            <hr class="navbar-divider" />
          }

          @if (nodesUrl()) {
            <a ngbDropdownItem [href]="nodesUrl()" download="data.json" target="_blank">
              <fa-icon icon="download" />
              <span class="pl-2" i18n="@@download">Download Nodes (JSON)</span>
            </a>
          }

          <a ngbDropdownItem class="has-text-danger" (click)="showDelete()">
            <fa-icon icon="times-circle" />
            <span class="pl-2">Delete</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="section-divider" />

<div class="notification is-info is-light is-mb-4" role="alert">
  <p>
    <span>You are currently editing a Draft</span>
    @if (version()) {
      <span class="is-pl-1">
        created using version
        <a [href]="versionUrl({ version: version()! })" target="_blank">{{ version() }}</a>
        @if (isCurrentVersion()) {
          <span class="is-pl-1">(current)</span>
        }
      </span>
    }
    <span>.</span>
  </p>
  <p>You can save the Draft and Calculate it when you are done editing.</p>
</div>

<div class="box">
  @if (loading()) {
    <div class="has-text-center py-3">
      <fa-icon icon="spinner" animation="spin" size="lg" />
    </div>
  } @else {
    @if (nodes()?.length) {
      <app-drafts-new-form [nodes]="nodes()" [draft]="draft()" />
    } @else {
      <p class="has-text-warning">No nodes found.</p>
    }
  }
</div>
