<app-title title="Settings" />

<div class="columns is-vcentered is-mb-4">
  <div class="column"></div>
  <div class="column is-narrow">
    <app-api-version />
  </div>
  <div class="column is-narrow">
    <app-ui-version />
  </div>
</div>

<div class="box">
  @if (loading()) {
    <div class="has-text-center py-3">
      <fa-icon icon="spinner" animation="spin" size="lg" />
    </div>
  }

  @if (form) {
    <form [formGroup]="form" novalidate (submit)="save()">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="defaultFormat">
            <span>Default Data Format</span>
          </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select formControlName="defaultFormat" id="defaultFormat">
                  @for (format of DataFormat | keyvalue; track format.key) {
                    <option [value]="format.value">{{ format.value }}</option>
                  }
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal is-align-self-center">
          <label class="label" for="enableQueuing">
            <span>Enable Queuing System</span>
          </label>
        </div>
        <div class="field-body">
          <div class="field is-relative">
            <input type="checkbox" class="switch is-rounded" formControlName="enableQueuing" id="enableQueuing" />
            <label for="enableQueuing"></label>
            @if (!form.get('enableQueuing')?.value) {
              <p class="help">
                When disabled, uploads containing multiple Cycles will need to be run manually in the correct order.
              </p>
            } @else {
              @if (runnersEnabled()) {
                <p class="help">
                  <span>Using</span>
                  <a class="is-px-1" routerLink="./runners" target="_blank">configured runners</a>
                  <span>instead of default</span>
                  <a class="is-pl-1" href="https://fastapi.tiangolo.com/tutorial/background-tasks/" target="_blank">
                    background tasks
                  </a>
                  <span>.</span>
                </p>
              } @else {
                <p class="help">
                  <span>Using default</span>
                  <a class="is-pl-1" href="https://fastapi.tiangolo.com/tutorial/background-tasks/" target="_blank">
                    background tasks
                  </a>
                  <span>.</span>
                </p>
              }
            }
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal is-align-self-center">
          <label class="label" for="enableAggregatedModels">
            <span>Run HESTIA Aggregated models</span>
          </label>
        </div>
        <div class="field-body">
          <div class="field is-relative">
            <input
              type="checkbox"
              class="switch is-rounded"
              formControlName="enableAggregatedModels"
              id="enableAggregatedModels" />
            <label for="enableAggregatedModels"></label>
          </div>
        </div>
      </div>

      <div class="field is-horizontal mt-5">
        <div class="field-label"></div>
        <div class="field-body">
          <button class="button is-primary" [disabled]="saving()" type="submit">
            @if (saving()) {
              <fa-icon icon="spinner" animation="spin" />
            } @else {
              <fa-icon icon="save" />
            }
            <span class="pl-2">Save</span>
          </button>
        </div>
      </div>

      @if (error()) {
        <p class="has-text-danger is-mt-3">{{ error() }}</p>
      }
    </form>
  }
</div>
