@import '@hestia-earth/ui-components/styles';
// TODO: re-enable when popover includes manual trigger
// @import 'bulma-popover/bulma-popover';
@import 'jsoneditor/dist/jsoneditor.min';

// --- Bootstrap

ngb-pagination {
  .page-item {
    border-bottom: 2px solid transparent;

    &.disabled {
      opacity: 0.5;
    }

    &.active {
      border-bottom-color: $black;
    }

    @include mobile {
      &:first-child,
      &:last-child {
        .page-link > span > span {
          display: none;
        }
      }

      &:nth-child(5),
      &:nth-child(6) {
        &:not(:last-child) {
          display: none;
        }
      }
    }
  }
}

// --- HESTIA

@media print {
  body {
    max-width: 950px;
    overflow-x: hidden;
  }
}

.card-actions-container {
  overflow: visible;

  > .card-actions {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 10;
  }
}

th,
td {
  &.actions {
    max-width: 40px;
  }

  &.width-auto {
    width: 1%;
  }
}

#sort-menu {
  .dropdown-item {
    &:not(.is-active):not(.is-selected) {
      fa-icon {
        visibility: hidden;
      }
    }
  }
}

.notice-data-aggregated {
  display: none;
}
