<nav
  class="navbar is-spaced has-shadow is-fixed-top"
  role="navigation"
  aria-label="main navigation"
  [class.is-transparent]="!menuActive() && isTransparent()">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img
          loading="eager"
          class="logo-yellow"
          src="https://cdn.hestia.earth/prod/assets/images/logo-yellow.svg"
          width="180"
          height="69" />
        <img
          loading="eager"
          class="logo-white is-hidden"
          src="https://cdn.hestia.earth/prod/assets/images/logo-white.svg"
          width="180"
          height="69" />
      </a>

      <span class="is-size-5 is-flex is-align-items-center">Community Edition</span>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbar-dd"
        (click)="menuActive.set(!menuActive())"
        [class.is-active]="menuActive()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-dd" class="navbar-menu" [class.is-active]="menuActive()">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable" appNavbarDropdown>
          <a class="navbar-link">Data Format</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.hestia.earth/schema" target="_blank">
              <span>Schema</span>
              <fa-icon class="no-print ml-2" icon="external-link-alt" size="sm" />
            </a>
            <a class="navbar-item" href="https://www.hestia.earth/glossary" target="_blank">
              <span>Glossary</span>
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable" appNavbarDropdown>
          <a class="navbar-link">Calc Engine</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.hestia.earth/calculation" target="_blank">
              List of recalculated data
              <fa-icon class="no-print ml-2" icon="external-link-alt" size="sm" />
            </a>
            <a class="navbar-item" [href]="gitHome + '/hestia-engine-models'" target="_blank">
              Source Code
              <fa-icon class="no-print ml-2" icon="external-link-alt" size="sm" />
            </a>
          </div>
        </div>

        <a class="navbar-item" [href]="commonService.apiBaseUrl + '/docs'" target="_blank">
          <span>API Docs</span>
          <fa-icon class="no-print ml-2" icon="external-link-alt" size="sm" />
        </a>
      </div>
    </div>
  </div>
</nav>
