@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as bv;

nav.is-transparent {
  background-color: transparent;
  box-shadow: none;

  .logo-white {
    display: block !important;
  }

  .logo-yellow {
    display: none !important;
  }

  .navbar-end > {
    .navbar-item:not(:hover) a.navbar-link,
    a.navbar-item {
      &:not(:focus):not(:focus-within):not(:hover):not(.is-active) {
        color: bv.$white;
      }
    }
  }
}
