<div class="columns is-vcentered is-mb-4">
  <div class="column"></div>
  <div class="column is-narrow">
    <a
      class="button is-secondary is-small"
      [href]="glossaryBaseUrl + '/migrations?startDate=' + versionDate"
      target="_blank">
      <span>View Latest Major Changes</span>
      <fa-icon class="is-pl-2" icon="external-link-alt" />
    </a>
  </div>
</div>

<div class="box">
  <section id="searchForm" #search class="my-4">
    <form (submit)="t.dismissPopup(); runSearch(); t.dismissPopup()">
      <div class="field has-addons">
        <div class="control is-expanded has-icons-right">
          <input
            class="input search-input is-secondary"
            #t="ngbTypeahead"
            placeholder="Search glossary of terms"
            name="search"
            [(ngModel)]="query"
            [ngbTypeahead]="suggest"
            [focusFirst]="false"
            (selectItem)="selectSuggestion()" />
          <a class="icon is-small is-right" [class.is-hidden]="!query" (click)="query = ''; runSearch()">
            <fa-icon icon="times" />
          </a>
        </div>
        <div class="control">
          <button class="button is-secondary is-no-shadow" type="submit">
            <fa-icon icon="search" />
          </button>
        </div>
        <div class="control">
          <div class="select is-secondary is-fullwidth">
            <select [(ngModel)]="termType" (change)="updateTermType(termType)" name="termType">
              <option [value]="undefined">All Types</option>
              @for (termType of termTypes; track termType) {
                <option [value]="termType">{{ termType }}</option>
              }
            </select>
          </div>
        </div>
      </div>
    </form>
  </section>

  <div class="anchor" id="search-results"></div>

  @if (results) {
    <p class="is-mb-3">
      @if (total === 0) {
        <span>No results found.</span>
        @if (termType) {
          <span class="is-pl-1">Try searching for</span>
          <a class="is-pl-1" (click)="termType = undefined; runSearch()">All Types</a>
          <span class="is-pl-1">instead.</span>
        }
      } @else {
        <span>
          <span i18n="@@results.total">Showing</span>
          <span class="px-1">{{ offset + 1 }} - {{ offset + results.results.length }} of</span>
          @if (total < MAX_RESULTS) {
            <span>{{ total }}</span>
          }
          @if (total === MAX_RESULTS) {
            <span>more than {{ MAX_RESULTS }}</span>
          }
          <span class="px-1">terms</span>
          <span class="is-hidden-mobile">({{ results.time / 1000 }} seconds)</span>
        </span>
      }
    </p>
  }

  @if (!loading) {
    @if (results) {
      @for (result of results.results; track trackByNode($index, result)) {
        <ng-container *ngTemplateOutlet="termContent; context: { $implicit: result }"></ng-container>
      }
    }
  } @else {
    <div class="py-3">
      @for (n of [0, 1, 2, 3, 4]; track n) {
        <div class="card mb-4">
          <header class="card-header">
            <div class="card-header-title title is-block is-4 mb-0">
              <div class="py-1">
                <he-skeleton-text [width]="50"></he-skeleton-text>
              </div>
            </div>
          </header>
        </div>
      }
    </div>
  }

  @if (results) {
    <div [class.is-hidden]="total <= perPage" class="no-print has-text-center my-5">
      <ngb-pagination
        class="is-inline-block"
        aria-label="Glossary pagination"
        i18n-aria-label="@@glossary.pagination.aria-label"
        [collectionSize]="total"
        [pageSize]="perPage"
        [(page)]="page"
        (pageChange)="scrollTop(); filter()"
        [maxSize]="4"
        [rotate]="true"
        [boundaryLinks]="true"
        [ellipses]="true"
        [disabled]="loading">
        <ng-template ngbPaginationPrevious>
          <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
            <fa-icon icon="angle-left" />
          </span>
        </ng-template>
        <ng-template ngbPaginationNext>
          <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
            <fa-icon icon="angle-right" />
          </span>
        </ng-template>
        <ng-template ngbPaginationFirst>
          <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
            <fa-icon icon="angles-left" />
          </span>
        </ng-template>
        <ng-template ngbPaginationLast>
          <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
            <fa-icon icon="angles-right" />
          </span>
        </ng-template>
        <ng-template ngbPaginationNumber let-page>
          <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">{{ page }}</span>
        </ng-template>
      </ngb-pagination>
    </div>
  }
</div>

<ng-template #suggestion let-r="result" let-t="term">
  <ngb-highlight [result]="r" [term]="t"></ngb-highlight>
</ng-template>

<ng-template #termContent let-result>
  <div class="card mb-4" [attr.id]="'node-' + result['@id']" [class.has-background-light]="result.selected">
    <header class="card-header pointer" (click)="expand(result)">
      <div class="card-header-title">
        <div class="columns is-variable is-1 is-vcentered">
          @if (result.termType) {
            <div class="column is-narrow has-text-grey" [class.is-hidden]="!!queryParams.termType">
              <span>{{ termTypeLabel(result.termType) }}</span>
            </div>
          }
          @if (result.termType) {
            <div class="column is-narrow has-text-grey is-hidden-mobile" [class.is-hidden]="!!queryParams.termType">
              <span>|</span>
            </div>
          }
          <div class="column">
            <span class="term-name has-text-ellipsis is-ellipsis-2">{{ result.name }}</span>
          </div>
        </div>
      </div>
      <span class="card-header-icon has-text-secondary" aria-label="more options">
        <span class="icon">
          <fa-icon icon="angle-down" [class.is-hidden]="!result.expanded" />
          <fa-icon icon="angle-left" [class.is-hidden]="result.expanded" />
        </span>
      </span>
    </header>
    <div class="card-content" [class.is-hidden]="!result.expanded">
      <div class="columns is-multiline is-variable is-2 is-mobile">
        <ng-container *ngTemplateOutlet="termRow; context: { term: result, title: 'ID', value: termId }"></ng-container>

        <ng-container
          *ngTemplateOutlet="termRow; context: { term: result, title: 'Name', value: termName }"></ng-container>

        @if (result.synonyms?.length) {
          <ng-container
            *ngTemplateOutlet="
              termRow;
              context: { term: result, title: 'Synonyms', value: termSynonyms }
            "></ng-container>
        }

        @for (property of result.properties; track property) {
          <ng-container
            *ngTemplateOutlet="
              termRowDefault;
              context: { term: result, title: property | keyToLabel, value: result[property] }
            "></ng-container>
        }

        @if (result.loading) {
          <div class="column is-12">
            <div class="has-text-center py-3">
              <span>Loading more information...</span>
            </div>
          </div>
        }
        @for (property of result.defaultProperties; track property) {
          <ng-container *ngTemplateOutlet="termTitle; context: { $implicit: property?.term?.name }"></ng-container>
          <div class="column is-12-mobile is-8-tablet">
            <p class="has-text-ellipsis">
              <he-terms-property-content [property]="property" [showTermName]="false"></he-terms-property-content>
            </p>
          </div>
        }
        @for (term of result.subClassOf; track term) {
          <ng-container
            *ngTemplateOutlet="termRow; context: { term: term, title: 'SubClass of', value: termId }"></ng-container>
        }

        <ng-container *ngTemplateOutlet="termTitle; context: { $implicit: 'Expand to see subclasses' }"></ng-container>
        <div class="column is-12-mobile is-8-tablet">
          <he-terms-sub-class-of-content class="data-table-container" [term]="result"></he-terms-sub-class-of-content>
        </div>
      </div>
    </div>
    <footer class="card-footer" [class.is-hidden]="!result.expanded">
      <he-node-link class="card-footer-item" [node]="result" [showExternalLink]="true">
        <span>View Full Record on HESTIA</span>
      </he-node-link>
    </footer>
  </div>
</ng-template>

<ng-template #termTitle let-title>
  <div class="column is-12-mobile is-4-tablet has-text-right-tablet has-text-grey has-text-weight-semibold">
    <p>{{ title }}:</p>
  </div>
</ng-template>

<ng-template #termRow let-term="term" let-title="title" let-value="value">
  <ng-container *ngTemplateOutlet="termTitle; context: { $implicit: title }"></ng-container>
  <div class="column is-12-mobile is-8-tablet">
    <p class="has-text-ellipsis">
      <ng-container *ngTemplateOutlet="value; context: { $implicit: term }"></ng-container>
    </p>
  </div>
</ng-template>

<ng-template #termRowDefault let-term="term" let-title="title" let-value="value">
  <ng-container *ngTemplateOutlet="termTitle; context: { $implicit: title }"></ng-container>
  <div class="column is-12-mobile is-8-tablet">
    <p class="has-text-ellipsis">
      @switch (isIri(value)) {
        @case (true) {
          <ng-container *ngTemplateOutlet="externalLink; context: { $implicit: toIri(value) }"></ng-container>
        }
        @default {
          <ng-container *ngTemplateOutlet="defaultValue; context: { title: title, value: value }"></ng-container>
        }
      }
    </p>
  </div>
</ng-template>

<ng-template #termId let-term>
  @if (term['@id']) {
    <he-clipboard [value]="term['@id']"></he-clipboard>
  }
</ng-template>

<ng-template #termName let-term>
  @if (term?.name) {
    <he-clipboard [value]="term.name"></he-clipboard>
  }
</ng-template>

<ng-template #termSynonyms let-term>
  <span [innerHtml]="synonyms(term) | compound"></span>
</ng-template>

<ng-template #defaultValue let-title="title" let-value="value">
  {{ isEmpty(value) ? 'N/A' : (value | compound) }}{{ title === 'Area' ? ' km2' : '' }}
</ng-template>

<ng-template #externalLink let-value>
  <a [href]="value" target="_blank">
    <span>{{ value }}</span>
    <fa-icon class="ml-2" icon="external-link-alt" size="sm" />
  </a>
</ng-template>
