<app-title title="Runners"></app-title>

<div class="box">
  @if (!loading) {
    <div>
      <div class="table-actions columns is-mobile is-vcentered my-2">
        <div class="column">
          <p class="has-text-secondary is-size-7 has-text-weight-semibold mt-2 mb-0">
            <span i18n="@@results.total">Showing</span>
            @if (total > perPage) {
              <span class="pl-1">{{ offset + 1 }} - {{ offset + total }} of</span>
            }
            <span class="px-1">{{ total }} {{ 'Runner' | pluralize: total }}</span>
            @if (queue?.messages?.remaining) {
              <span class="is-italic">
                (
                <b>{{ queue?.messages?.remaining }}</b>
                pending calculations)
              </span>
            }
          </p>
        </div>
        <div class="column is-narrow">
          <button class="button is-ghost" (click)="runSearch()">
            <fa-icon [icon]="faSync" />
          </button>
        </div>
        <div class="column is-narrow has-text-right">
          <div
            class="dropdown is-right has-text-left"
            [class.is-active]="showSortBy"
            (clickOutside)="showSortBy = false">
            <div class="dropdown-trigger" (click)="showSortBy = !showSortBy">
              <button
                class="button is-ghost"
                [class.is-active]="showSortBy"
                aria-haspopup="true"
                aria-controls="sort-menu">
                <span class="icon is-small">
                  <fa-icon [icon]="faSortAmountUpAlt" aria-hidden="true" />
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="sort-menu" role="menu">
              <div class="dropdown-content" (click)="showSortBy = false">
                <a class="dropdown-item" [class.is-active]="sortBy === 'id'" (click)="sort('id')">
                  <fa-icon class="pr-2" [icon]="'long-arrow-alt-' + (sortOrder === 'asc' ? 'up' : 'down')" />
                  <span>ID</span>
                </a>
                <a class="dropdown-item" [class.is-active]="sortBy === 'active'" (click)="sort('active')">
                  <fa-icon class="pr-2" [icon]="'long-arrow-alt-' + (sortOrder === 'asc' ? 'up' : 'down')" />
                  <span>Status</span>
                </a>
                <a class="dropdown-item" [class.is-active]="sortBy === 'connectedAt'" (click)="sort('connectedAt')">
                  <fa-icon class="pr-2" [icon]="'long-arrow-alt-' + (sortOrder === 'asc' ? 'up' : 'down')" />
                  <span>Connected At</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="anchor" id="search-results"></div>
      <div class="table-container">
        <table class="table is-fullwidth is-hoverable">
          <thead>
            <tr>
              <th>
                <span>Name</span>
              </th>
              <th>
                <span>Connected At</span>
              </th>
              <th>
                <span>Status</span>
              </th>
            </tr>
          </thead>
          <tbody>
            @if (loading) {
              <tr>
                <td colspan="3">
                  <div class="has-text-centered py-3">
                    <fa-icon icon="spinner" animation="spin" size="lg" />
                  </div>
                </td>
              </tr>
            }
            @if (!loading && total === 0) {
              <tr>
                <td class="has-text-center" colspan="3">
                  <span i18n="@@runners.list.empty">There are currently no runners running or connected.</span>
                </td>
              </tr>
            }
            @for (runner of runners | slice: offset : limit; track trackByRunner($index, runner)) {
              <tr>
                <td>
                  <span>{{ runner.id }}</span>
                </td>
                <td>
                  <span>{{ runner.connectedAt | date: 'medium' }}</span>
                </td>
                <td>
                  <span class="tag is-medium is-light is-rounded" [class.is-success]="runner.active">
                    {{ runner.active ? 'Calculating' : 'Idle' }}
                  </span>
                </td>
              </tr>
            }
          </tbody>
          <tfoot>
            @if (total > perPage) {
              <tr>
                <td class="has-text-center is-px-0" colspan="3">
                  <ngb-pagination
                    class="is-inline-block mt-3"
                    aria-label="Runners pagination"
                    i18n-aria-label="@@runners.list.pagination.aria-label"
                    [collectionSize]="total"
                    [pageSize]="perPage"
                    [(page)]="page"
                    (pageChange)="scrollTop(); filter()"
                    [maxSize]="4"
                    [rotate]="true"
                    [boundaryLinks]="true"
                    [ellipses]="true"
                    [disabled]="loading">
                    <ng-template ngbPaginationPrevious>
                      <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                        <fa-icon icon="angle-left" />
                      </span>
                    </ng-template>
                    <ng-template ngbPaginationNext>
                      <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                        <fa-icon icon="angle-right" />
                      </span>
                    </ng-template>
                    <ng-template ngbPaginationFirst>
                      <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                        <fa-icon icon="angles-left" />
                      </span>
                    </ng-template>
                    <ng-template ngbPaginationLast>
                      <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                        <fa-icon icon="angles-right" />
                      </span>
                    </ng-template>
                    <ng-template ngbPaginationNumber let-page>
                      <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">{{ page }}</span>
                    </ng-template>
                  </ngb-pagination>
                </td>
              </tr>
            }
          </tfoot>
        </table>
      </div>
    </div>
  } @else {
    <div class="has-text-center py-3">
      <fa-icon icon="spinner" animation="spin" size="lg" />
    </div>
  }
</div>
