@if (id()) {
  <app-title [title]="'Edit ' + id()"></app-title>
}

<div class="box">
  <div class="columns is-variable is-1 mb-0">
    <div class="column is-full-mobile">
      <nav class="breadcrumb is-mb-2" aria-label="breadcrumbs">
        <ul>
          <li>
            @if (id()) {
              <a [routerLink]="['/settings', 'config', id()]">{{ id() }}</a>
            }
          </li>
          <li class="is-active">
            <a aria-current="page">
              <span class="pr-1">Edit</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    @if (canEdit()) {
      <div class="column is-narrow">
        <button type="button" class="button is-primary" (click)="update()" [disabled]="saving()">
          @if (saving()) {
            <fa-icon icon="spinner" animation="spin" />
          } @else {
            <fa-icon icon="save" />
          }
          <span class="pl-2" i18n="@@update">Update</span>
        </button>
      </div>
      <div class="column is-narrow">
        <button type="button" class="button is-danger" (click)="showDelete()" [disabled]="saving()">
          @if (saving()) {
            <fa-icon icon="spinner" animation="spin" />
          } @else {
            <fa-icon icon="times-circle" />
          }
          <span class="pl-2" i18n="@@delete">Delete</span>
        </button>
      </div>
    }
  </div>

  @if (configs()) {
    @for (config of configs() | keyvalue; track config.key) {
      <section class="panel">
        <div class="panel-heading" (click)="configClosed[config.key] = !configClosed[config.key]" pointer>
          <div class="columns is-mobile is-vcentered">
            <span class="column is-narrow">
              <fa-icon [icon]="configClosed[config.key] ? faAngleRight : faAngleDown" />
            </span>
            <span class="column">{{ config.key }}</span>
            @if (hasOverride(config.key)) {
              <div
                class="column is-narrow is-align-self-center"
                (click)="$event.stopPropagation(); reset(config.key)"
                pointer>
                <span class="px-2">
                  <fa-icon icon="times" />
                  <span class="pl-2 is-size-6" i18n="@@reset">Reset to original</span>
                </span>
              </div>
            }
          </div>
        </div>
        @if (!configClosed[config.key]) {
          <div class="p-3">
            <app-settings-config-edit
              [oldConfig]="config.value.default"
              [newConfig]="config.value.config"
              [editable]="canEdit()"
              (configChanged)="setConfig($event, config.key)" />
          </div>
        }
      </section>
    }
  }
</div>

<ng-template #loader>
  <div class="has-text-centered py-3">
    <fa-icon icon="spinner" animation="spin" size="lg" />
  </div>
</ng-template>
