@if (latestVersion()) {
  @if (version()) {
    <div class="is-block tags has-addons">
      <a
        class="tag"
        (click)="$event.stopPropagation()"
        [href]="url()"
        target="_blank"
        [class.is-success]="isLatest()"
        [class.is-warning]="!isLatest()">
        {{ version() }}
      </a>
    </div>
  } @else {
    <span>N/A</span>
  }
}
