<app-title title="Wizard" />

<div class="box">
  <div class="notification is-info is-light" role="alert">
    <p>You can fill in your Cycle data here and press submit when you are done.</p>
    <p>
      The calculations will then be available in the
      <a routerLink="/results">Results</a>
      page.
    </p>
  </div>

  <app-drafts-new-form [nodes]="nodes" [draft]="draft" />
</div>
