<div class="columns">
  @if (editable()) {
    <div class="column is-half">
      @if (!diffHtml()) {
        <p>You are using the original configuration.</p>
        <p>You can edit the configuration on the right and update when finished.</p>
      } @else {
        <div [innerHTML]="diffHtml()"></div>
      }
    </div>
  }
  <div class="column" [class.is-half]="editable()">
    <json-editor
      class="right-editor"
      [options]="editorOptions"
      [ngModel]="newConfig()"
      (change)="onConfigChange($event)" />
  </div>
</div>
