<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Error</p>
      <button class="delete" aria-label="close" (click)="close()"></button>
    </header>
    <section class="modal-card-body">
      <app-report-error [error]="error()" />
    </section>
    <footer class="modal-card-foot">
      <button class="button is-ghost" (click)="close()">Close</button>
    </footer>
  </div>
</div>
