<div class="m-3 columns is-align-items-end is-vcentered">
  @if (visible()) {
    <div class="notification is-primary is-light" role="alert">
      <button class="delete" aria-label="delete" (click)="visible.set(false)">
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="is-size-7">
        <strong>Version Update Available</strong>
      </p>
      <p class="is-size-7">
        <a [href]="gitUrl + '/-/releases'" target="_blank">
          <span>View {{ latest() }} Release Notes</span>
          <fa-icon class="no-print is-ml-2" [icon]="faExternalLinkAlt" size="sm" />
        </a>
      </p>
    </div>
  }
</div>
