@if (version()) {
  <div class="tags has-addons">
    <span class="tag is-light">API Version</span>
    <a class="tag is-info" [href]="versionUrl()" target="_blank">
      <span>{{ version()?.version }}</span>
      @if (version()?.commitSha) {
        <span>-{{ version()?.commitSha }}</span>
      }
      @if (version()?.date) {
        <span class="pl-1">({{ version()?.date }})</span>
      }
      @if (version()?.isPrerelease) {
        <span class="pl-1">(pre-release)</span>
      } @else {
        <fa-icon class="pl-1" [icon]="faExternalLinkAlt" />
      }
    </a>
  </div>
}
