@if (!editing()) {
  @if (enableGlobalCalculate()) {
    <div class="columns is-variable is-1">
      <div class="column"></div>
      <div class="column is-narrow">
        <ng-container *ngTemplateOutlet="calculateForm"></ng-container>
      </div>
    </div>
  } @else {
    <div class="notification is-warning is-mb-2" role="alert">
      <p>
        <fa-icon class="pr-2" icon="exclamation-triangle" />
        <span>
          Automatic calculation of all Nodes in sequence is currently turned "off". Please enable the "Queuing System"
          in
          <a routerLink="/settings">the settings</a>
          page to calculate all Nodes in sequence automatically.
        </span>
      </p>
    </div>
  }
}

<div class="columns is-vcentered is-variable is-1">
  <div class="column">
    <p class="mb-3">
      <span i18n="@@drafts.total">Showing</span>
      @if (total() > perPage) {
        <span class="pl-1">{{ progressOffset() + 1 }} - {{ progressOffset() + perPage }} of</span>
      }
      <span class="pl-1">{{ total() }} {{ 'node' | pluralize: total() }}</span>
    </p>
  </div>
  @if (editing()) {
    <div class="column is-narrow">
      <button class="button is-ghost" [disabled]="processing()" (click)="editing.set(false)">
        <span i18n="@@cancel">Cancel</span>
      </button>
      <button class="button is-primary" [disabled]="processing()" (click)="saveDraft()">
        @if (processing()) {
          <fa-icon icon="spinner" animation="spin" />
        } @else {
          <fa-icon icon="save" />
        }
        <span class="pl-2" i18n="@@save">Save</span>
      </button>
    </div>
  } @else {
    @if (dataValidating()) {
      <div class="column is-narrow">
        <a (click)="refreshStatus()">Refresh validation status</a>
      </div>
    }
    <div class="column is-narrow">
      <button
        class="button is-success is-outlined"
        [disabled]="validating() || processing() || dataValidating()"
        (click)="validate()">
        @if (validating() || processing() || dataValidating()) {
          <fa-icon icon="spinner" animation="spin" />
        } @else {
          <fa-icon icon="check" />
        }
        <span class="pl-2" i18n="@@validate">Validate</span>
      </button>
    </div>
    <div class="column is-narrow">
      <button class="button is-primary" [disabled]="validating() || processing()" (click)="editing.set(true)">
        <fa-icon icon="edit" />
        <span class="pl-2" i18n="@@edit">Edit</span>
      </button>
    </div>
  }
</div>

@if (showErrorSummary()) {
  <div class="card mb-5">
    <header class="card-header" (click)="showSummary.set(!showSummary())" pointer>
      <div class="card-header-title">Errors and Warnings Summary</div>
      <span class="card-header-icon has-text-secondary" aria-label="open / close">
        <span class="icon">
          <fa-icon icon="angle-down" [class.is-hidden]="!showSummary()" />
          <fa-icon icon="angle-left" [class.is-hidden]="showSummary()" />
        </span>
      </span>
    </header>
    <div class="card-content summary-content p-0" [class.is-hidden]="!showSummary()">
      <he-files-error-summary
        [showErrorsOnAutogenerated]="true"
        [nodes]="nodes()"
        [errors]="validationErrorsWithIndex()"
        (resolvedErrorsChange)="resolvedErrors.set($event)"
        (unresolvedIndexesChange)="unresolvedIndexes.set($event)" />
    </div>
  </div>
}

@if (error()) {
  <div class="has-text-danger">
    <span>There was an error processing the request:</span>
    <app-report-error [error]="error()" />
  </div>
} @else if (!validating()) {
  @if (showErrorSummary()) {
    @if (nodesWithIndex()?.length) {
      <div class="is-flex is-align-items-center is-gap-8">
        <div class="is-flex-grow-1">
          @if (hasValidationError()) {
            <p class="has-text-danger">
              <fa-icon class="pr-1" icon="exclamation-triangle" />
              <span>Please fix all the errors highlighted in red first then try again.</span>
            </p>
          } @else {
            <p class="has-text-warning">
              <fa-icon class="pr-1" icon="info-circle" />
              <span>You can try to fix the warnings highlighted in orange before calculating.</span>
            </p>
          }
        </div>
      </div>
    }
  } @else if (validationSuccess()) {
    <p class="has-text-success">
      <span>No validation errors detected.</span>
    </p>
  } @else {
    <p class="has-text-info">
      <span>Please validate the data before calculating.</span>
    </p>
  }
}

@if (validating()) {
  <div class="has-text-center py-3">
    <fa-icon icon="spinner" animation="spin" size="lg" />
  </div>
} @else {
  <div class="my-3">
    @for (data of nodesWithIndex() | slice: progressOffset() : progressLimit(); track data.index) {
      <div class="card-actions-container is-relative is-mb-3">
        @if (!enableGlobalCalculate()) {
          <div class="card-actions">
            <ng-container *ngTemplateOutlet="calculateForm; context: { node: data.node }"></ng-container>
          </div>
        }
        @if (editing()) {
          <he-files-form-editable
            class="is-block is-pt-3"
            [node]="data.node"
            [errors]="data.errors"
            [nodeMap]="nodeMap()"
            [showSuggestedDefaultProperties]="false"
            (nodeChanged)="nodeChanged($event, data.index)" />
        } @else {
          <he-files-form class="is-block is-pt-3" [node]="data.node" [errors]="data.errors" />
        }
      </div>
    } @empty {
      <p>All errors marked as resolved. Please re-upload the file after fixing its content.</p>
    }
    @if (nodesWithIndex()?.length > perPage) {
      <div class="has-text-center my-5">
        <ngb-pagination
          class="is-inline-block"
          aria-label="Nodes pagination"
          i18n-aria-label="@@drafts.new.pagination.aria-label"
          [collectionSize]="nodesWithIndex()?.length"
          [pageSize]="perPage"
          [page]="page()"
          (pageChange)="page.set($event); scrollTop()"
          [maxSize]="4"
          [rotate]="true"
          [boundaryLinks]="true"
          [ellipses]="true">
          <ng-template ngbPaginationPrevious>
            <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
              <fa-icon icon="angle-left" />
            </span>
          </ng-template>
          <ng-template ngbPaginationNext>
            <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
              <fa-icon icon="angle-right" />
            </span>
          </ng-template>
          <ng-template ngbPaginationFirst>
            <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
              <fa-icon icon="angles-left" />
            </span>
          </ng-template>
          <ng-template ngbPaginationLast>
            <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
              <fa-icon icon="angles-right" />
            </span>
          </ng-template>
          <ng-template ngbPaginationNumber let-page>
            <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">{{ page }}</span>
          </ng-template>
        </ngb-pagination>
      </div>
    }
  </div>
}

<ng-template #calculateForm let-node="node">
  <div class="field has-addons">
    @if (showSelectConfig()) {
      <div class="control">
        <span class="button is-light is-static">Select config</span>
      </div>
      <div class="control">
        <input
          type="string"
          class="input"
          [ngModel]="config()"
          id="config"
          [ngbTypeahead]="suggestConfig"
          [focusFirst]="true"
          (selectItem)="config.set($event.item)" />
      </div>
    }
    <div class="control">
      <button
        class="button is-primary"
        type="button"
        [disabled]="!canCalculate()"
        (click)="node ? calculateNode(node) : calculate()">
        <fa-icon icon="check" [class.is-hidden]="processing()" />
        @if (processing()) {
          <fa-icon icon="spinner" animation="spin" />
        }
        <span class="pl-2" i18n="@@calculate">Calculate</span>
      </button>
    </div>
  </div>
</ng-template>
