<app-title title="Geospatial"></app-title>

<div class="box">
  <div class="field is-horizontal my-3">
    <div class="field-label is-normal">
      <label class="label" for="selectedCollection">Select type</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <div class="select is-multiple is-fullwidth">
            <select [(ngModel)]="selectedCollection" name="selectedCollection" multiple="true" required>
              @for (collection of collections; track collection) {
                <option [ngValue]="collection">{{ collection.name }}</option>
              }
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal my-3">
    <div class="field-label is-normal">
      <label class="label" for="regionId">Region ID</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input
              type="text"
              class="input"
              [(ngModel)]="regionId"
              name="regionId"
              required
              placeholder="GADM region ID"
              [class.is-danger]="submitted && hasError" />
          </div>
          <div class="control">
            <a class="button" [href]="baseUrl + '/glossary?termType=region'" target="_blank">
              <fa-icon icon="search" />
            </a>
          </div>
        </div>

        <p class="help">
          <small>Hint: click on the loop icon to search for the correct ID on HESTIA Glossary</small>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal my-3">
    <div class="field-label is-normal">
      <label class="label" for="latitude">Latitude</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <input
            class="input"
            type="number"
            [(ngModel)]="latitude"
            name="latitude"
            required
            placeholder="Latitude"
            [class.is-danger]="submitted && hasError" />
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal my-3">
    <div class="field-label is-normal">
      <label class="label" for="longitude">Longitude</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <input
            class="input"
            type="number"
            [(ngModel)]="longitude"
            name="longitude"
            required
            placeholder="Longitude"
            [class.is-danger]="submitted && hasError" />
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal my-3">
    <div class="field-label is-normal"></div>
    <div class="field-body">
      <div class="field">
        <button class="button is-primary" [disabled]="loading" type="button" (click)="submit()">
          @if (loading) {
            <fa-icon class="pr-2" icon="spinner" animation="spin" />
          }
          <span>Submit</span>
        </button>
      </div>
    </div>
  </div>

  @if (error) {
    <div class="my-3 has-text-danger" [innerHtml]="error"></div>
  }

  @if (results?.length) {
    <div class="is-relative">
      <div class="copy-clipboard">
        <div class="field" [class.has-addons]="csvContent">
          <div class="control">
            <he-clipboard
              clipboardClass="button is-secondary is-small"
              [value]="results"
              [hideText]="true"
              [icon]="farClone"
              size="lg"
              rotate="180"></he-clipboard>
          </div>
          <div class="control">
            @if (csvContent) {
              <a class="button is-small" target="_blank" [href]="csvContent" [download]="downloadFilename">
                <fa-icon class="mr-2" icon="download" />
                <span>Download CSV</span>
              </a>
            }
          </div>
        </div>
      </div>
      <pre><code>{{results | json}}</code></pre>
    </div>
  }
</div>
