@if (id()) {
  <app-title [title]="'Config: ' + id()" />
}

<div class="box">
  <div class="columns is-variable is-1 mb-0">
    <div class="column is-full-mobile">
      <nav class="breadcrumb is-mb-2" aria-label="breadcrumbs">
        <ul>
          <li class="is-active">
            <a aria-current="page">
              @if (id()) {
                <b class="pr-1">{{ id() }}</b>
              }
            </a>
          </li>
        </ul>
      </nav>
    </div>
    @if (canEdit()) {
      <div class="column is-narrow">
        <a class="button is-secondary" routerLink="./edit">
          <fa-icon icon="edit" />
          <span class="pl-2" i18n="@@edit">Edit</span>
        </a>
      </div>
      <div class="column is-narrow">
        <button type="button" class="button is-danger" (click)="showDelete()">
          <fa-icon icon="times-circle" />
          <span class="pl-2" i18n="@@delete">Delete</span>
        </button>
      </div>
    }
  </div>

  @if (configs()) {
    @for (config of configs() | keyvalue; track config.key) {
      <section class="panel">
        <div class="panel-heading" (click)="toggleConfig(config.key)" pointer>
          <div class="columns is-mobile is-vcentered">
            <span class="column is-narrow">
              <fa-icon [icon]="configClosed()[config.key] ? faAngleRight : faAngleDown" />
            </span>
            <span class="column">{{ config.key }}</span>
          </div>
        </div>
        @if (!configClosed()[config.key]) {
          <div class="p-3">
            <he-engine-orchestrator-edit [config]="config.value.config" />
          </div>
        }
      </section>
    }
  }
</div>

<ng-template #loader>
  <div class="has-text-centered py-3">
    <fa-icon icon="spinner" animation="spin" size="lg" />
  </div>
</ng-template>
