<app-title title="Terms of Use"></app-title>

<h1 class="content mt-3 has-text-weight-bold is-size-3">HESTIA Community Edition Terms of Use</h1>

<hr class="section-divider my-4" />

<p class="content mb-3">
  Copyright 2019-{{ year }} Harmonised Environmental Storage and Tracking of the Impacts of Agriculture (HESTIA) Project
</p>

<p class="content mb-3">
  Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
  documentation files (the "Software"), to deal in the Software without restriction, including without limitation the
  rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit
  persons to whom the Software is furnished to do so, subject to the following conditions:
</p>

<p class="content mb-3">
  The above copyright notice and this permission notice shall be included in all copies or substantial portions of the
  Software.
</p>

<p class="content mb-3">
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
  WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
  COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
  OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</p>

<div class="my-5 pt-5 has-text-centered">
  <button class="button is-primary" (click)="accept()">I have read and accept the Terms of Use</button>
</div>
