<app-title title="Configs"></app-title>

<div class="columns is-vcentered is-mb-4">
  <div class="column"></div>
  <div class="column is-narrow">
    <app-api-version />
  </div>
  <div class="column is-narrow">
    <app-ui-version />
  </div>
</div>

<div class="box">
  <form
    class="columns my-3 is-justify-content-space-between is-vcentered is-multiline is-mobile"
    novalidate
    (submit)="!loading() && runSearch()">
    <div class="column is-sm mr-sm-1 is-full-mobile">
      <div class="field has-addons">
        <div class="control is-expanded has-icons-right">
          <input
            type="string"
            class="input search-input is-secondary"
            id="search"
            name="search"
            placeholder="Search by name"
            i18n-placeholder="@@settings-config.list.search.input"
            [(ngModel)]="search"
            [disabled]="loading()" />
          <a class="icon is-small is-right" [class.is-hidden]="!search" (click)="search = ''; runSearch()">
            <fa-icon icon="times" />
          </a>
        </div>
        <div class="control">
          <button class="button is-secondary is-no-shadow" [disabled]="loading()" type="submit">
            <fa-icon icon="search" />
          </button>
        </div>
      </div>
    </div>
    <div class="column is-narrow">
      <button type="button" class="button is-primary" (click)="showNew()">
        <fa-icon icon="plus-circle" />
        <span class="pl-2" i18n="@@new">New Config</span>
      </button>
    </div>
  </form>

  <div class="table-actions columns is-mobile is-vcentered my-2">
    <div class="column">
      <p class="has-text-secondary is-size-7 has-text-weight-semibold mt-2 mb-0">
        <span i18n="@@results.total">Showing</span>
        @if (total() > perPage) {
          <span class="pl-1">{{ offset() + 1 }} - {{ offset() + total() }} of</span>
        }
        <span class="px-1">{{ total() }} {{ 'config' | pluralize: total() }}</span>
      </p>
    </div>

    <div class="column is-narrow">
      <div ngbDropdown #sortDd="ngbDropdown" container="body" placement="bottom-end">
        <button ngbDropdownToggle class="button is-ghost" type="button" id="sort-menu-button">
          <span
            class="icon is-small"
            ngbTooltip="Sort options"
            placement="bottom"
            container="body"
            [disableTooltip]="sortDd.isOpen()">
            <fa-icon [icon]="faSortAmountUpAlt" aria-hidden="true" size="lg" />
          </span>
        </button>
        <div ngbDropdownMenu id="sort-menu" aria-labelledby="sort-menu-button">
          <div class="dropdown-content">
            <a ngbDropdownItem [class.is-selected]="sortBy() === 'id'" (click)="sort('id')">
              <fa-icon class="pr-2" [icon]="'long-arrow-alt-' + (sortOrder() === 'asc' ? 'up' : 'down')" />
              <span>ID</span>
            </a>
            <a ngbDropdownItem [class.is-selected]="sortBy() === 'createdOn'" (click)="sort('createdOn')">
              <fa-icon class="pr-2" [icon]="'long-arrow-alt-' + (sortOrder() === 'asc' ? 'up' : 'down')" />
              <span>Updated On</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-container">
    <table class="table is-fullwidth is-hoverable">
      <thead>
        <tr>
          <th>
            <span>Id</span>
          </th>
          <th>
            <span>Updated On</span>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @if (loading()) {
          <tr>
            <td colspan="3">
              <ng-container *ngTemplateOutlet="loader" />
            </td>
          </tr>
        }
        @for (config of configs(); track config.id) {
          <tr [routerLink]="['./', config.id]" pointer>
            <td>
              <span>{{ config.id === defaultConfigId ? 'HESTIA default configuration' : config.id }}</span>
            </td>
            <td>
              <span>{{ config.createdOn | date: 'medium' }}</span>
            </td>
            <td class="has-text-right">
              <span class="pr-2">View</span>
              <fa-icon class="is-align-middle" icon="angle-right" size="lg" />
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
        @if (total() > perPage) {
          <tr>
            <td class="has-text-center is-px-0" colspan="3">
              <ngb-pagination
                class="is-inline-block mt-3"
                aria-label="Configs pagination"
                i18n-aria-label="@@results.list.pagination.aria-label"
                [collectionSize]="total()"
                [pageSize]="perPage"
                [(page)]="page"
                (pageChange)="scrollTop(); updatePage($event)"
                [maxSize]="4"
                [rotate]="true"
                [boundaryLinks]="true"
                [ellipses]="true"
                [disabled]="loading()">
                <ng-template ngbPaginationPrevious>
                  <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                    <fa-icon icon="angle-left" />
                  </span>
                </ng-template>
                <ng-template ngbPaginationNext>
                  <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                    <fa-icon icon="angle-right" />
                  </span>
                </ng-template>
                <ng-template ngbPaginationFirst>
                  <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                    <fa-icon icon="angles-left" />
                  </span>
                </ng-template>
                <ng-template ngbPaginationLast>
                  <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">
                    <fa-icon icon="angles-right" />
                  </span>
                </ng-template>
                <ng-template ngbPaginationNumber let-page>
                  <span class="is-inline-block px-4 py-2 has-text-black has-text-weight-semibold">{{ page }}</span>
                </ng-template>
              </ngb-pagination>
            </td>
          </tr>
        }
      </tfoot>
    </table>
  </div>
</div>

<ng-template #loader>
  <div class="has-text-centered py-3">
    <fa-icon icon="spinner" animation="spin" size="lg" />
  </div>
</ng-template>
