<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Confirm Create</p>
      <button class="delete" aria-label="close" (click)="close()"></button>
    </header>
    <section class="modal-card-body">
      <p class="mb-3">Please give a name to your new custom configuration.</p>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="id">
            <span i18n="@@name">Name</span>
            <span class="has-text-danger pl-1">*</span>
          </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="field">
              <div class="control is-expanded">
                <input
                  type="string"
                  class="input"
                  [(ngModel)]="id"
                  name="id"
                  [class.is-danger]="submitted && !id"
                  placeholder="Configuration name" />
              </div>
            </div>
            @if (submitted) {
              @if (!id) {
                <p class="help is-danger" i18n="@@forms.errors.required">This field is required</p>
              }
              @if (!formValid) {
                <p class="help is-danger">This name is reserved</p>
              }
            }
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary" (click)="confirm()" [disabled]="loading">
        @if (loading) {
          <fa-icon class="pr-2" icon="spinner" animation="spin" />
        }
        <span i18n="@@create">Create</span>
      </button>
      <button class="button is-ghost" (click)="close()">Cancel</button>
    </footer>
  </div>
</div>
