@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as bv;

he-drawer-container {
  background-color: bv.$primary-lighter;

  ::ng-deep {
    .container {
      background-color: bv.$primary-lighter;
    }

    he-collapsible-box {
      box-shadow: none;

      .dropdown-content {
        box-shadow: none;
      }

      .dropdown-item + .dropdown-item {
        border-top: 1px solid bv.$grey-light;
      }

      .navbar-divider {
        background-color: bv.$grey-light;
        margin: 0;
      }
    }
  }
}
