<app-navbar />
<app-check-new-version />
<he-toast />

<ng-template #header>
  <div class="is-flex is-justify-content-center is-my-4 is-pb-3">
    <button class="button is-info is-small" (click)="showReportIssue()">
      <fa-icon [icon]="faBug" />
      <span class="pl-2">Submit Feedback</span>
    </button>
  </div>
</ng-template>

<he-drawer-container
  id="left-drawer"
  position="left"
  [links]="links()"
  [resizable]="false"
  [drawerHeaderTemplate]="header"
  compactBreakpoint="desktop"
  contentPaddingStyles="content-screen-padding-start"
  compactHeaderClass="container is-p-3 is-px-desktop-0">
  <ng-container drawer-content>
    <he-drawer-container
      id="right-drawer"
      position="right"
      [resizable]="true"
      min="350"
      [drawerHeaderTemplate]="navigationService.rightDrawerContent()"
      compactBreakpoint="desktop"
      contentPaddingStyles="content-screen-padding-end is-py-5">
      <ng-container drawer-content>
        <section class="container">
          <router-outlet />
        </section>
      </ng-container>
    </he-drawer-container>
  </ng-container>
</he-drawer-container>
