@if (latestVersion()) {
  @if (version()) {
    <div class="is-block tags has-addons">
      <a
        class="tag is-info"
        (click)="$event.stopPropagation()"
        [href]="url()"
        target="_blank"
        [class.is-success]="compact() && isLatest()"
        [class.is-warning]="compact() && !isLatest()">
        {{ version() }}
      </a>
      @if (!compact()) {
        @if (isLatest()) {
          <ng-container *ngTemplateOutlet="latest"></ng-container>
        } @else {
          <span class="tag is-warning">need recalculations</span>
        }
      }
    </div>
  } @else {
    <span>N/A</span>
  }
}

<ng-template #latest>
  <span class="tag is-success">latest version</span>
</ng-template>
