<app-title title="Results" />

<div class="columns is-vcentered is-mb-0 is-mobile is-multiline">
  <div class="column is-full-mobile">
    <b>{{ id() | ellipsis: 50 }}</b>
  </div>
  @if (selectedDataState() === DataState.recalculated && config()?.modelsVersion) {
    <div class="column is-narrow">
      <app-models-version [version]="config()?.modelsVersion" />
    </div>
  }
  <div class="column is-narrow">
    <div class="field has-addons is-flex-wrap-wrap">
      @for (dataState of dataStates; track dataState) {
        <div class="control">
          <button
            class="button is-small"
            [class.is-selected]="selectedDataState() === dataState"
            (click)="selectDataState(dataState)">
            <span>{{ dataState | keyToLabel }}</span>
          </button>
        </div>
      }
    </div>
  </div>
  @if (responsiveService.isTouch()) {
    <div class="column is-narrow">
      <div ngbDropdown container="body" placement="bottom-end">
        <button ngbDropdownToggle class="button is-small" type="button" id="actions-menu">
          <span>Options</span>
          <span class="icon is-small">
            <fa-icon [icon]="faCaretDown" aria-hidden="true" />
          </span>
        </button>
        <div ngbDropdownMenu aria-labelledby="actions-menu">
          <ng-container *ngTemplateOutlet="actionMenuActions" />
        </div>
      </div>
    </div>
  }
</div>

<hr class="section-divider" />

@if (responsiveService.isTouch()) {
  <div class="box">
    <ng-container *ngTemplateOutlet="statusPanel" />
  </div>
}

@for (section of sections(); track section; let sectionIndex = $index) {
  <div class="anchor" [id]="section"></div>

  <he-collapsible-box>
    <ng-container box-title>
      <span>{{ sectionIndex + 1 }}. {{ sectionTitle(section) }}</span>
    </ng-container>
    <section box-content>
      <ng-container *ngTemplateOutlet="sectionContent; context: { section }" />
    </section>
  </he-collapsible-box>
}

<ng-template #sectionContent let-section="section">
  @switch (sectionTitle(section)) {
    @case (Sections.completeness) {
      <he-cycles-completeness [dataState]="selectedDataState()" />
    }
    @case (Sections.siteMeasurements) {
      <he-sites-nodes [dataState]="selectedDataState()" [nodeKey]="BlankNodesKey.measurements" />
    }
    @case (Sections.siteManagement) {
      <he-sites-nodes [dataState]="selectedDataState()" [nodeKey]="BlankNodesKey.management" />
    }
    @case (Sections.activity) {
      <he-cycles-nodes [dataState]="selectedDataState()" [nodeKeys]="[BlankNodesKey.inputs, BlankNodesKey.products]" />
    }
    @case (Sections.animal) {
      <he-cycles-nodes [dataState]="selectedDataState()" [nodeKeys]="[BlankNodesKey.animals]" />
    }
    @case (Sections.animalActivity) {
      <he-cycles-nodes
        [dataState]="selectedDataState()"
        [nodeKeys]="[BlankNodesKey.inputs]"
        [nodeKeyGroup]="CycleNodesKeyGroup.animals" />
    }
    @case (Sections.animalPractices) {
      <he-cycles-nodes
        [dataState]="selectedDataState()"
        [nodeKeys]="[BlankNodesKey.practices]"
        [nodeKeyGroup]="CycleNodesKeyGroup.animals" />
    }
    @case (Sections.practices) {
      <he-cycles-nodes [dataState]="selectedDataState()" [nodeKeys]="[BlankNodesKey.practices]" />
    }
    @case (Sections.emissions) {
      <he-cycles-nodes [dataState]="selectedDataState()" [nodeKeys]="[BlankNodesKey.emissions]" />
    }
    @case (Sections.transformationActivity) {
      <he-cycles-nodes
        [dataState]="selectedDataState()"
        [nodeKeys]="[BlankNodesKey.inputs, BlankNodesKey.products]"
        [nodeKeyGroup]="CycleNodesKeyGroup.transformations" />
    }
    @case (Sections.transformationPractices) {
      <he-cycles-nodes
        [dataState]="selectedDataState()"
        [nodeKeys]="[BlankNodesKey.practices]"
        [nodeKeyGroup]="CycleNodesKeyGroup.transformations" />
    }
    @case (Sections.transformationEmissions) {
      <he-cycles-nodes
        [dataState]="selectedDataState()"
        [nodeKeys]="[BlankNodesKey.emissions]"
        [nodeKeyGroup]="CycleNodesKeyGroup.transformations" />
    }
    @case (Sections.impactEmissions) {
      <he-impact-assessments-products
        [nodeKey]="BlankNodesKey.emissionsResourceUse"
        [filterTermTypes]="[TermTermType.emission]"
        [dataState]="selectedDataState()" />
    }
    @case (Sections.impactResourceUse) {
      <he-impact-assessments-products
        [nodeKey]="BlankNodesKey.emissionsResourceUse"
        [filterTermTypes]="[TermTermType.resourceUse]"
        [dataState]="selectedDataState()" />
    }
    @case (Sections.impactImpacts) {
      <he-impact-assessments-products
        [nodeKey]="BlankNodesKey.impacts"
        [filterTermTypes]="[TermTermType.characterisedIndicator]"
        [dataState]="selectedDataState()"
        [enableFilterMethodModel]="true" />
    }
    @case (Sections.impactEndpoints) {
      <he-impact-assessments-products
        [nodeKey]="BlankNodesKey.endpoints"
        [filterTermTypes]="[TermTermType.endpointIndicator]"
        [dataState]="selectedDataState()"
        [enableFilterMethodModel]="true" />
    }
    @case (Sections.impactDriverChart) {
      <he-impact-assessments-graph [impactAssessments]="impactAssessments()" [dataState]="selectedDataState()" />
    }
  }
</ng-template>

<ng-template #actionMenuActions>
  <div class="dropdown-content">
    @if (sourceUrl()) {
      <a ngbDropdownItem [href]="sourceUrl()" download="source.csv" target="_blank">
        <fa-icon class="mr-2" [icon]="faDownload" />
        <span>Download Source (CSV)</span>
      </a>
    }
    @if (impactsCSV()) {
      <a ngbDropdownItem [href]="impactsCSV()" download="results.csv">
        <fa-icon class="mr-2" [icon]="faDownload" />
        <span>Download Results Summary (CSV)</span>
      </a>
    }

    <hr class="navbar-divider" />

    @if (impactAssessmentMetadata()?.recalculatedOn) {
      <a ngbDropdownItem class="has-text-secondary" (click)="showRecalculate()">
        <fa-icon [icon]="faSync" />
        <span class="pl-2">Re-run Calculations</span>
      </a>
    }

    <a ngbDropdownItem class="has-text-danger" (click)="showDelete()">
      <fa-icon [icon]="faTimesCircle" />
      <span class="pl-2">Delete</span>
    </a>
  </div>
</ng-template>

<ng-template #statusPanel>
  @if (errors()?.length) {
    <p class="is-mb-2 has-text-danger">
      <fa-icon [icon]="faExclamationTriangle" />
      <span class="is-px-2">Error while recalculating.</span>
      <a class="has-text-danger" (click)="showError()">Show error</a>
    </p>
  }

  @if (cycleMetadata()?.createdOn) {
    <p class="is-my-2 is-size-7 has-text-grey-light">
      <span>Uploaded on {{ cycleMetadata()?.createdOn | date: 'medium' }}.</span>
    </p>
  }

  <p class="is-my-2 is-size-7 has-text-grey-light">
    @if (impactAssessmentMetadata()?.recalculatedOn) {
      <span>Recalculated on {{ impactAssessmentMetadata()?.recalculatedOn | date: 'medium' }}</span>
      @if (!isDefaultConfig()) {
        <span class="is-pl-1">
          using custom config
          <b>{{ config()?.config }}</b>
        </span>
      }
      <span>.</span>
    } @else {
      <span>Calcuations not complete yet.</span>
    }
  </p>
</ng-template>

<ng-template #rightDrawerContent>
  <div class="is-mt-3">
    <ng-container *ngTemplateOutlet="statusPanel" />

    <he-collapsible-box class="is-p-1">
      <ng-container box-title>
        <span class="is-size-5 has-text-secondary">Actions</span>
      </ng-container>
      <ng-container box-content>
        <ng-container *ngTemplateOutlet="actionMenuActions" />
      </ng-container>
    </he-collapsible-box>
  </div>
</ng-template>
