@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as bv;

$top: bv.$navbar-height + bv.$navbar-padding-vertical + 2rem;

pre,
he-node-logs-file ::ng-deep pre,
he-node-missing-lookup-factors ::ng-deep .data-table-container {
  max-height: 500px;
  overflow-y: auto;
}

.anchor {
  top: -$top;
}
