<app-title title="Upload file"></app-title>

<div class="box">
  @if (!isChrome) {
    <div class="notification is-danger is-light mb-3" role="alert">
      <p>
        <fa-icon class="pr-2" icon="exclamation-triangle" />
        <span>We recommend using the Chrome navigator for best compatibilities with the HESTIA upload feature.</span>
      </p>
    </div>
  }

  <div class="notification is-info" role="alert">
    <p class="is-mb-2">
      <fa-icon class="pr-2" icon="info-circle" />
      <span>
        The current supported Schema version is
        <a [href]="schemaBaseUrl + '/Cycle'" target="_blank">{{ SCHEMA_VERSION }}</a>
        .
      </span>
      <span class="is-pl-1">
        Please look at the schema before uploading, and if you were familiar with an older version you can see the
        complete changes
        <a [href]="changelogUrl" target="_blank">here</a>
        .
      </span>
    </p>
    <p>
      <fa-icon class="pr-2" icon="info-circle" />
      <span i18n="@@files.new.extensions">We currently only support the following file formats:</span>
      @for (ext of supportedExtensions(); track ext) {
        <span class="tag is-success ml-2">{{ ext }}</span>
      }
    </p>
  </div>

  <p class="mt-3">Choose a CSV file to convert to HESTIA format</p>
  <p class="is-size-7">
    <i>Note: conversion might be incomplete, please review the data in the Wizard after upload.</i>
  </p>

  <div class="my-3">
    <div class="field">
      <div class="control is-expanded">
        <div class="file has-name is-fullwidth">
          <label class="file-label" for="file">
            <input
              type="file"
              class="file-input"
              id="file"
              multiple="false"
              [accept]="supportedExtensions().join(',')"
              (change)="addFiles($event.target)"
              [class.is-danger]="submitted() && !filename()" />
            <span class="file-cta">
              <span class="file-icon">
                <fa-icon icon="upload" />
              </span>
              <span class="file-label">
                <span>Choose file</span>
              </span>
            </span>
            <span class="file-name">{{ filename() }}</span>
          </label>
        </div>
      </div>
    </div>

    @if (sheetNameEnabled()) {
      <div class="field is-horizontal is-my-3">
        <div class="field-label is-normal">
          <label class="label" for="sheetName">
            <span i18n="@@files.new.sheetName.label">Sheet name</span>
          </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input
                type="string"
                class="input"
                [ngModel]="sheetName()"
                (input)="sheetName.set($event.target.value)"
                id="sheetName"
                placeholder="Leave empty to select first sheet" />
            </div>
          </div>
        </div>
      </div>
    }

    @if (id()) {
      <p class="mb-2 is-size-7">
        <i>
          Your file will be uploaded under the draft named
          <b>{{ id() }}</b>
        </i>
      </p>
    }

    <div class="field is-horizontal is-my-3">
      <div class="field-label is-normal">
        <label class="label" for="dataFormat">
          <span i18n="@@files.new.dataFormat.label">Data Format</span>
        </label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <div class="select is-small">
              <select
                [ngModel]="selectedDataFormat()"
                (change)="selectedDataFormat.set($event.target.value)"
                name="dataFormat">
                @for (format of DataFormat | keyvalue; track format.key) {
                  <option [value]="format.value">{{ format.key }}</option>
                }
              </select>
            </div>
          </div>

          <p class="is-mt-2 is-size-7">
            @switch (selectedDataFormat()) {
              @case (DataFormat.Hestia) {
                <span class="pr-1">Before uploading, please read carefully the</span>
                <a [href]="baseUrl + '/upload#formatting'" target="_blank">
                  <span>formatting instructions</span>
                  <fa-icon class="pl-2" icon="external-link-alt" size="sm" />
                </a>
              }
              @case (DataFormat.PooreNemecek) {
                <span class="pr-1">Before uploading, please read carefully the</span>
                <a [href]="gitHome + '/hestia-convert-poore-nemecek#mapping'" target="_blank">
                  <span>documentation of the Poore & Nemeck converter</span>
                  <fa-icon class="pl-2" icon="external-link-alt" size="sm" />
                </a>
              }
              @case (DataFormat.OpenLCA) {
                <span class="pr-1">Warning: this is a work in progress and might not work as expected.</span>
                <span class="pr-1">If you have any issue, please report them</span>
                <a [href]="gitHome + '/hestia-convert-olca/-/issues/new?issuable_template=bug'" target="_blank">
                  <span>here</span>
                  <fa-icon class="pl-2" icon="external-link-alt" size="sm" />
                </a>
              }
            }
          </p>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <button class="button is-primary" [disabled]="loading()" type="button" (click)="submit()">
        @if (loading()) {
          <fa-icon icon="spinner" animation="spin" />
        } @else {
          <fa-icon icon="cloud-upload-alt" />
        }
        <span class="pl-2">Upload</span>
      </button>
    </div>
  </div>

  @if (error()) {
    <div class="is-my-3 has-text-danger">
      @switch (selectedDataFormat()) {
        @case (DataFormat.Hestia) {
          @for (hestiaError of hestiaErrors(); track hestiaError.message) {
            <he-files-upload-errors class="is-my-3" [error]="hestiaError" />
          } @empty {
            <ng-container *ngTemplateOutlet="defaultError"></ng-container>
          }
        }
        @default {
          <ng-container *ngTemplateOutlet="defaultError"></ng-container>
        }
      }
    </div>
  }

  @if (isInvalidSheetNameError()) {
    <div>
      <p class="is-mb-2">
        <span class="pr-1">The Excel sheet</span>
        <code>{{ sheetName() }}</code>
        <span class="pl-1">does not exist.</span>
      </p>
      <p>
        <span>Please enter an existing sheet or leave empty to select the first sheet.</span>
      </p>
    </div>
  }
</div>

<ng-template #defaultError>
  <p class="mb-2">
    There was an error parsing the CSV. Please verify the correct "Data Format" has been selected and there are no
    errors in your file.
  </p>
  <p class="mb-2">
    If the error persists, please use the "Submit Feedback" button to log an issue, attach the file and paste the
    details below:
  </p>
  <div class="is-relative">
    <div class="copy-clipboard">
      <he-clipboard
        clipboardClass="button is-secondary is-small"
        [value]="error"
        [hideText]="true"
        [icon]="farClone"
        size="lg"
        rotate="180"></he-clipboard>
    </div>
    <pre><code>{{error() | json}}</code></pre>
  </div>
</ng-template>
